<template name="sidebarLeftDefault">
  <div class="col-sm-3 col-md-2 sidebar">
    // Sidebar content will go here
  </div>
</template>

<template name="sidebarLeftCustomers">
  <div class="col-sm-3 col-md-2 sidebar">
    // Customer search will go here
  </div>
</template>

<template name="sidebarLeftCalendar">
  <div class="col-sm-3 col-md-2 sidebar">
    <!-- List of all staff Calendars -->
    <ul>
      <li><a href="{{pathFor 'calendar' staff_member=0}}">All Staff Appointments</a></li>
      {{#each staffMembers}}
        {{>staffList}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="staffList">
      <li><a href="{{pathFor 'calendar' staff_member=_id}}">{{name}}</a></li>
</template>

<template name="sidebarLeftStaff">
  <div class="col-sm-3 col-md-2 sidebar">
    // Staff search will go here
  </div>
</template>